{extends file='email-layout.tpl'}

{block 'email-subject'}
    {intl l='Credit note on your order %order_ref' d='creditnote.email.default' order_ref=$order_ref}
{/block}
{block 'email-title'}
    {intl l='Credit note on your order %order_ref' d='creditnote.email.default' order_ref=$order_ref}
{/block}

{block 'email-content'}
    {loop type='order-credit-note' name='order_credit_note.notification' id=$order_credit_note_id}
        {$credit_note_amount=$AMOUNT}
        {$credit_note_message=$MESSAGE}
        {loop type='order' name='order_credit_note.notification.order' id=$ORDER_ID customer='*'}
            {$order_ref=$REF}
            {loop type='currency' name='order_credit_note.notification.order.currency' id=$CURRENCY}
                {$currency_symbol=$SYMBOL}
            {/loop}
        {/loop}
        {loop type='coupon' name='order_credit_note.notification.coupon' id=$COUPON_ID}
            {$coupon_code=$CODE}
        {/loop}
    {/loop}

    {intl l='Hello,'}
    <br>

    {intl l='You have been granted a credit note of %credit_note_amount on your order %order_ref.'
        d='creditnote.email.default'
        credit_note_amount={format_money number=$credit_note_amount symbol=$currency_symbol}
        order_ref=$order_ref
    }
    <br>

    {if $credit_note_message}
        <br>
        {$credit_note_message}
        <br>
        <br>
    {/if}

    {intl l='Use the coupon code %coupon_code to use this credit note.'
        d='creditnote.email.default'
        coupon_code="<strong>$coupon_code</strong>"
    }
{/block}