<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://thelia.net/schema/dic/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="credit-note" class="CreditNote\Loop\CreditNote" />
        <loop name="credit-note-type" class="CreditNote\Loop\CreditNoteType" />
        <loop name="credit-note-status" class="CreditNote\Loop\CreditNoteStatus" />
        <loop name="credit-note-comment" class="CreditNote\Loop\CreditNoteComment" />
        <loop name="credit-note-version" class="CreditNote\Loop\CreditNoteVersion" />
        <loop name="credit-note-address" class="CreditNote\Loop\CreditNoteAddress" />
        <loop name="credit-note-detail" class="CreditNote\Loop\CreditNoteDetail" />
        <loop name="order-credit-note" class="CreditNote\Loop\OrderCreditNote" />
    </loops>

</config>
