<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_1.xsd">
    <fullnamespace>CreditNote\CreditNote</fullnamespace>
    <descriptive locale="en_US">
        <title>Credit notes</title>
        <subtitle>Allows granting credit notes to customers</subtitle>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Avoirs</title>
        <subtitle>Permet d'accorder des avoirs aux clients</subtitle>
    </descriptive>
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>3.0.1</version>
    <author>
        <name>Gilles Bourgeat</name>
        <email>gbourgeat@openstudio.fr</email>
    </author>
    <type>classic</type>
    <thelia>2.5.0</thelia>
    <stability>beta</stability>
</module>
